
@font-face {
    font-family: GraublauWeb;
    src: url("fonts/GraublauWeb.otf") format("opentype");
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.cdcontainer {
  color: white;
  margin: 0 auto;
  text-align: center;

}

.cdtext{
  margin-top: 20vh;
}

.title {
  font-family: circularbold;
  text-transform: uppercase;
  font-size: 2.5vw;
  margin: 5px;
}

.sottotitle {
  font-family: circularlightitalic;
  font-size: 1.7vw;
}


li {
  display: inline-block;
  font-size: 1.5vw;
  font-family: circularbold;
  list-style-type: none;
  padding: 3vw;
  text-transform: uppercase;
}

li span {
  display: block;
  width: 10vw;
  font-size: 9vw;
  font-family: MadeTommySoft;
  color: #E95252;
}
