@font-face {
  font-family: 'MadeTommySoft';
  src: url("fonts/madetommysoftblack.otf") format("opentype");
}

@font-face {
  font-family: 'circularlight';
  font-weight: normal;
  src: url("fonts/circularlight.otf") format("opentype");
}

@font-face {
  font-family: 'circular';
  font-weight: normal;
  src: url("fonts/circularlight.otf") format("opentype");
}

@font-face {
  font-family: 'circular';
  font-weight: bold;
  src: url("fonts/circularbold.otf") format("opentype");
}

@font-face {
  font-family: 'circularlightitalic';
  src: url("fonts/circularlightitalic.otf");
}

@font-face {
  font-family: 'circularmedium';
  src: url("fonts/circularmedium.otf");
}


@font-face {
  font-family: 'circularbold';
  src: url("fonts/circularbold.otf") format("opentype");
}

@font-face {
  font-family: 'circularblack';
  src: url("fonts/circularblack.otf") format("opentype");
}


.formvoto{
  background-color: pink;
}


body {
  margin: 0;
  font-family: circularbold;
  background-color: #001329;
  color: white;
}

.anno {
  font-family: circularlight;
}


.title {
  font-size: 80px;
  font-family:
    MadeTommySoft;
  color: #BFD3FB;
  margin-top: 10vh;
  margin-bottom: 20px;
  text-align: center;
}

.sottotitle {
  font-family: circularlight;
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
}

.hcont {
  justify-content: center;
  align-content: center;
  display: flex;
  width: 70%;
}

.fotohunting {
  height: 500px;

}

.fotohunting img {
  height: 100%;
  border-radius: 5px;
}

.huntingbio {
  font-family: CircularBold;
  text-shadow: 0px 0px 3px black;
  font-size: 16px;
  text-align: center;
  width: 600px;
  text-align: center;
}



.fantaquota {
  font-family: 'MadeTommySoft';
  color: #B9D2FF;
  font-size: 5vh;
}

/* BLU */
.bg-tag1 {
  background-color: #E95252;
  border: solid 2px #C72E2E;
}

/* AZZURRO */
.bg-tag2 {
  background-color: #B9D2FF;
  border: solid 2px #59A5FF;
}

/* VERDE */
.bg-tag3 {
  background-color: #82C578;
  border: solid 2px #35973F;
}

/* ARANCIO */
.bg-tag4 {
  background-color: #FAAF6F;
  border: solid 2px #F78F37;
}

/* VIOLA */
.bg-tag5 {
  background-color: #BCA7F8;
  border: solid 2px #6134DF;
}

/* PETROLOIO */
.bg-tag6 {
  background-color: #FFBAEC;
  border: solid 2px #FF66D4;
}

/* GIALLO */
.bg-tag7 {
  background-color: #E5D76E;
  border: solid 2px #FFC90B;
}

.topnav {
  overflow: hidden;
  background-color: #B9D2FF;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 999;
}

.topnav a {

  float: right;
  display: block;
  color: #3D8AF5;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 12px;

}

.topnav a:hover {
  color: #527BCF;
  transition: 0.3s ease-in-out;
}


.topnav a.active {
  color: #1872F0;

  text-decoration: underline;
  text-decoration-thickness: 18%;
}

.topnav .icon {
  display: none;
}

.logo {
  float: left;
  overflow: hidden;
  margin-left: 0px;
  position: absolute;
}

.logotipo {
  text-align: left;
  height: 35px;
  margin-top: -5px
}

.logotipo img {
  height: 100%;
}

.punta {
  background-color: #1872F0;
  padding: 10px 15px;
  margin-top: -10px;
  margin-bottom: -10px;
  border-radius: 5px;
  color: #B9D2FF;
}

.form{
  width: 640px;
   height= 1010px;
}

.punta:hover {
  background-color: #3D8AF5;
  transition: 0.3s ease-in-out;
  color: white;
}

.stopuntando {
  background-color: #3670E5;
  color: white;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive {
    position: fixed;
  }

  .punta {
    background-color: #B9D2FF;
    margin-top: 50px;
    margin-bottom: 0px;
    display: block;
    padding: 0px;
    color: white;
    text-align: left;
  }

  .punta:hover {
    background-color: #B9D2FF;
    color: white;
    transition: 0.3s ease-in-out;
  }
}

.card {
  background-color: white;
}

.cardhunt {
  background-color: #B9D2FF;
  width: 50vh;
}

.cardhunt:hover {
  transition: 0.1s;
}



/*
███████╗██╗     ██╗██████╗ ███████╗███████╗██╗  ██╗ ██████╗ ██╗    ██╗
██╔════╝██║     ██║██╔══██╗██╔════╝██╔════╝██║  ██║██╔═══██╗██║    ██║
███████╗██║     ██║██║  ██║█████╗  ███████╗███████║██║   ██║██║ █╗ ██║
╚════██║██║     ██║██║  ██║██╔══╝  ╚════██║██╔══██║██║   ██║██║███╗██║
███████║███████╗██║██████╔╝███████╗███████║██║  ██║╚██████╔╝╚███╔███╔╝
╚══════╝╚══════╝╚═╝╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝ ╚═════╝  ╚══╝╚══╝
*/

.imgrespo{
  font-size: 40px;
  text-align: center;
}

.respotxt {
  font-family: Circular;
  margin-left: 30px;
  color: white;
}

.respobox {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: white;
  padding: 10px;
  display: flex;
  align-items: center
}

.respobox1 {
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: white;
  padding: 10px;
  display: flex;
  align-items: center
}



.voto {

  margin-top: 10px;
  display: block;
  width: 100vw;
  display: flex;
  justify-content: center;

}

.rgcontainer {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

.scrittecontainer {
  width: 100%;
  height: auto;
  color: white;
  line-height: 150%;
}

.rgtext {
  font-family: circularlight;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.rgtextcenter {
  font-family: circularlight;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.rgtitle {
  margin-top: 0px;
  text-align: center;
}

.boxrg {
  display: flex;
}

.spacebox {
  width: 60%;
  text-align: center;
}

.spacebox img {
  height: 100%
}

.bonus {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: white;
  padding: 25px;
}

.bonusfinal {
  border-width: 1px 0px 1px 0px;
}

.bonuspiega {
  font-family: Circular;
  margin-left: 30px;
}

.bonuspunteggio {
  color: #E95252;
  font-family: MadeTommySoft;
  font-size: 30px;
}

.positive {
  color: #86E477;
}

.logohome {
  text-align: center;
  width: 60%;
  margin: 150px 20% 10% 20%;
}



.logohome img {
  width: 100%;
}

.nomehome {
  font-family: CircularBold;
  padding: 15px;
  font-size: 15px;
  color: white
}

.frasenomehome {
  font-family: Circular;
  padding: 15px;
  font-size: 15px;
  color: white
}

.articolo {
  width: 100%;
  color: white;
}

.articolo a {
  text-decoration: none;
  color: white;
}

.articolo a:hover {
  text-decoration: none;
  color: #B9D2FF;
  transition: 0.3s ease-in-out;
}

.articolo img {
  width: 100%;
  border-radius: 10px;
}

.titoloarticolo {
  margin-top: 10px;
}

.autore {
  font-family: Circular;
  font-size: 12px;
  margin-top: -4px;
}

.tuttahome {
  color: white
}

.titolohome {
  color: white;

}

.payment {

  width: 80vw;
  height: 100px;
  text-align: center;
  color: white;
  margin-bottom: 20vh;
}

.payment a:hover #boxpaypal {
  background-color: #B9D2FF;
  transition: 0.3s ease-in-out;
}

.sottotitolopayment {
  margin-top: 0px;
  font-family: Circular;
}

.frasesottopayment {
  font-size: 10px;
  font-family: circularlightitalic;
  margin-top: 10px;
}

.boxpaypal {
  width: 300px;
  height: 40px;
  background-color: #B9D2FF;
  text-align: center;
  border-radius: 10px;

}

.boxpaypal img {
  height: 60%;
  margin-top: 3%;
}

.disclaimer {
  background-color: #B9D2FF;
  margin-bottom: 10%;
  color: white;
  border-radius: 20px;
}

.footer {
  background-color: #2D9CDB;
  margin-top: 80px;
  border-style: solid;
  border-width: 3px 0px 0px 0px;
  border-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footertext {
  font-family: Circular;
  color: white;
}

.containertuttahome {
  margin-left: 40px;
  margin-right: 40px;
}

.marginal {
  height: 50px;

}

.div1 {
  height: 100%;
  width: 100%;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
}

.div2 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-family: Circular;
  font-size: 25px;
  color: #ffffff;
}

.box {
  text-align: center;
  font-size: 20px;
  font-family: Circular;
  outline: none;
  width: 250px;
  height: 45px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  background-color: #B9D2FF;
  color: white;


}

.confirm {
  border: none;
  font-size: 20px;
  font-family: Circular;
  margin-top: 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.submit {
  background-color: white;
  border: none;
  border-radius: 10px;
  width: auto;
  color: #B9D2FF;
  font-size: 15px;
  padding: 10px 20px 8px 20px;
  font-family: CircularBold;
}


.submit:hover {
  background-color: #3670E5;
  color: white;
  transition: 0.3s ease-in-out;
}

.boxrosso {
  background-color: #B9D2FF;
  width: 360px;
  border-radius: 20px;
}

.boxfanta img{
  height: 80px;
}

.boxrosso h4 {
  font-family: CircularBold;
  color: #3670E5;
}

.boxrosso h5 {
  font-family: circularlightitalic;
  font-size: 14px;
    color: #3670E5;
}


.parallax {
  /* The image used */
  background-image: url("assets/articolo1hd.png");

  /* Set a specific height */
  height: 650px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-size: contain;
}

.parallax2 {
  /* The image used */
  background-image: url("assets/articolo2hd.png");
}

.parallax3 {
  /* The image used */
  background-image: url("assets/articolo3hd.png");
}

.parallax4 {
  /* The image used */
  background-image: url("assets/articolo4hd.png");
}

.infocontainer {
  height: 1400px;
  font-size: 14px;
}

.tornahome {
  background-color: #B9D2FF;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding-top: 5px;
  padding-bottom: 4px;
  font-size: 18px;
  font-family: Circular;
}

.tornahome:hover {
  background-color: #B9D2FF;
  transition: 0.3s ease-in-out;
}

.leggianche {
  margin-right: 30px;
}

.div1 {
  height: 100%;
  width: 100%;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
}

.div2 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-family: Circular;
  font-size: 25px;
  color: #ffffff;
}

.box {
  text-align: center;
  font-size: 20px;
  font-family: Circular;
  outline: none;
  width: 250px;
  height: 45px;
  border: 2px solid #ffffff;
}

.confirm {
  border: none;
  font-size: 20px;
  font-family: Circular;
  margin-top: 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}


@media screen and (max-width: 600px) {

  .parallax {
    height: 200px;
  }


  .bonuspunteggio {
    margin-bottom: 10px;
  }

  .bonuspiega {
    margin-left: 0px;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .rgtext {
    font-size: 15px;
  }

  .title {
    font-size: 32px;
    font-family:
      MadeTommySoft;
    color: #BFD3FB;
    margin-top: 10vh;
    margin-bottom: 20px;
    text-align: left;
  }

  .sottotitle {
    font-family: circularlight;
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
  }

  .logohome {
    text-align: center;
    width: 80%;
    margin: 150px 10% 80px 10% ;
  }

  .huntingbio {
    font-family: CircularBold;
    text-shadow: 0px 0px 3px black;
    font-size: 14px;
    text-align: center;
    width: 80%;
    text-align: center;
  }

  .logohome img {
    width: 100%;
  }



}
