
@font-face {
    font-family: GraublauWeb;
    src: url("fonts/GraublauWeb.otf") format("opentype");
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


}





@media screen and (max-width: 600px) {


}




li {
  display: inline-block;
  font-size: 1.5vw;
  font-family: circularbold;
  list-style-type: none;
  padding: 3vw;
  text-transform: uppercase;
}

li span {
  display: block;
  width: 10vw;
  font-size: 9vw;
  font-family: MadeTommySoft;
  color: #B9D2FF;
}

@media screen and (max-width: 600px) {

li{
  display: block;
  text-align: center;
  padding: 0vw;
  font-size: 15px;

}

li span {
  display: block;
  width: 100%;
  font-size: 70px;
  font-family: MadeTommySoft;
  color: #B9D2FF;
}


}
