
@font-face {
    font-family: GraublauWeb;
    src: url("fonts/GraublauWeb.otf") format("opentype");
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.cdcontainer {
  color: white;
  margin: 0 auto;
  text-align: center;

}

.cdtext{
  margin-top: 20vh;
}

.title {
  font-family: circularbold;
  text-transform: uppercase;
  font-size: 22px;
  margin: 5px;
}

.sottotitle {
  font-family: circularlightitalic;
  font-size: 15px;
}


li {
  display: inline-block;
  font-size: 15px;
  font-family: circularbold;
  list-style-type: none;
  padding: 3vw;
  text-transform: uppercase;
}

li span {
  display: block;
  width: 10vw;
  font-size: 4.5rem;
  font-family: MadeTommySoft;
  color: #E95252;
}


@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
